# Week 3 Final Assignment - Part 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
toronto_data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
toronto_data

    Postal Code  ...                                       Neighborhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

We can clearly see that there are many "Not assigned" values in both the "Borough" and "Neighborhood" columns. As instructed, let's get rid of those in the "Borough" column, then we can check if there are any left in the "Neighborhood" column that we need to assign the same name as the borough.

In [3]:
# Grabing DataFrame rows without unwated values
notassigned = ['Not assigned']
toronto_data = toronto_data[~toronto_data.Borough.isin(notassigned)].reset_index(drop=True)
toronto_data

    Postal Code  ...                                       Neighborhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                          Regent Park, Harbourfront
3           M6A  ...                   Lawrence Manor, Lawrence Heights
4           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...  Business reply mail Processing Centre, South C...
101         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

Now let's check if there are any "Not assigned" neighborhoods after clearing the "Not assigned" boroughs:

In [4]:
check = toronto_data.Neighborhood.isin(notassigned)
unassigned_count = 0
for value in check.to_list():
  if value == True:
    unassigned_count+=1
print('The number of unassigned neighborhoods is ', unassigned_count)

The number of unassigned neighborhoods is  0

Looks like we're good to go! Now to print the number of rows. Not sure why only the rows and not both, but I take things literally, so here it is:

In [5]:
toronto_data.shape[0]

103