# Testing hidden cells

In [1]:
import pandas as pd
import numpy as np

In [2]:
a = [1,2,3,4,5]

In [3]:
b = a*2

In [11]:
#@title Trying to hide cell
c = a[:3]*2

In [12]:
c

[1, 2, 3, 1, 2, 3]